/* Reset the default browser style*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Application Style */

@font-face {font-family: 'calibri';src: url('../fonts/calibri.eot');src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),url('../fonts/calibri.woff') format('woff'),url('../fonts/calibri.ttf') format('truetype');}

/* General Styles*/
body{
	font-family: 'calibri';
	font-size:100%; 
}

/* Home Page Styles*/
.home-header {
	background-image: url("../img/home-image.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30% 0 10%;
}

.home-header a {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.home-header img {
    display: block;
    width: 100%;
}

.home-container {
	background-color: #00a7b0;
	padding: 10%;
}

.home-container h2 {
	font-size: 2.8em;
	color: #f2f2f2;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 20%;
}

.selector-wrapper {
    border: 1px solid #fff;
    width: 95%;
    margin-bottom: 10%;
    overflow: hidden;
    background-image: url("../img/down-arrow-white.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 25px 13px;
    padding-right: 10px;
}

.home-container div select {
    width: 110%;
    background-color: transparent;
    color: #fff;
    font-size: 1.4em;
    font-family: 'calibri';
    font-weight: 300;
    padding: 15px 20px 15px 10px;
    border: none;
}

.home-container div select option {
	color: #000;
}

.home-container a {
	display: block;
	text-decoration: none;
	width: 100%;
    background-color: #e8443a;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    padding: 20px 0;
}

/* Service Page Styles*/
.services {
	background-image: url("../img/home-image.png");
}

.service-header {
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15% 0 7%;
}

.service-header h1 {
	text-align: center;
	color: #f2f2f2;
	font-size: 2em;
}

.service-header input{
	width: 90%;
    margin: 0 auto;
    display: block;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    margin-top: 13px;
    outline: none;
    color: #fff;
    font-size: 1.5em;
    font-family: 'calibri';
    font-weight: 300;

}

.service-header ::-webkit-input-placeholder {
   color: #fff;
}

.service-header :-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.service-header ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.service-header :-ms-input-placeholder {  
   color: #fff;  
}

.services-cnt ul li a {
	padding: 30px 0 30px 90px;
	text-decoration: none;
	font-size: 1.3em;
	font-family: 'calibri';
	font-weight: 300;
	color: #000;
	display: block;
	border-bottom: 1px solid #cdc4a0;
}

.service-container .service-electrician {
	background: url('../img/electrician-icon-small.png')no-repeat 3% center;
}

.service-container .service-plumber {
	background: url('../img/plumber-icon-small.png')no-repeat 3% center;
}

.service-container .service-housekeeping {
	background: url('../img/housekeeping-icon-small.png')no-repeat 3% center;
}

.service-container .service-laundry {
	background: url('../img/laundry-icon-small.png')no-repeat 3% center;
}

.service-container .service-appliance-repair {
	background: url('../img/appliance-repair-icon-small.png')no-repeat 3% center;
}

.service-container .service-laptop-repair {
	background: url('../img/laptop-repair-icon-small.png')no-repeat 3% center;
}

.service-container .service-organize-event {
	background: url('../img/organise-even-icon-small.png')no-repeat 3% center;
}

.plumber {
	background-image: url("../img/plumber-header.png");
}

.service-header a{
	float: left;
    left: 42px;
    position: relative;
}

.service-container h2 {
	text-align: center;
	font-size: 2em;
	padding: 30px 0;
	position: relative;
    right: 20px
}
.service-container h2 span {
	background-repeat: no-repeat;
    width: 60px;
    height: 48px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.pumber-heading span {
	background-image: url("../img/plumber-menu.png");
}

.pro-options {
	font-size: 1.1em;
	margin-bottom: 35px;
}

.service-lst ul li {
	margin-top: 20px;
	padding: 0 0 20px 70px;
	border-bottom: 1px solid #cdc4a0;
	background-repeat: no-repeat;
	background-position: 15px top;
}

.service-lst ul li:last-child {
	border: none;
}

.service-lst ul li h3 a {
	text-decoration: none;
	font-size: 1.3em;
	color: #000;
}

.service-lst ul li h3 {
	margin: 0 0 10px;
}

.service-lst ul li p {
	line-height: 1.3;
}

.btn-skip, .btn-proceed {
	text-transform: uppercase;
	width: 100%;
	display: block;
	background-color: #e8443a;
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	padding: 20px 0;
	text-align: center;
}
.btn-skip {
	margin-top: 30px;
}

.btn-proceed {
	margin-top: 20px;
}

.service-lst .plumer-list li {
	background-image: url("../img/plumber-icon-small.png");
}

.description-section {
	padding: 20px;
	border-bottom: 1px solid #cdc4a0;
}

.description-section:last-of-type {
	border: none;
}

.description-section h3 {
	font-size: 1.1em;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	padding-bottom: 15px;
}

.description-section p {
	line-height: 1.3;
}

.description-section ul li{
	list-style-type: disc;
	padding: 5px 5px 5px 10px;
	margin: 0 20px;
	color: #e8443a;
}

.description-section ul li p {
	color: #000;
}

@media screen and (max-width: 20em) {
  body { font-size: 80%;}
}